body {
  background-color: #f0f0e4;
  border:1rem;
}

.navbar-brand {
    font-size: 2rem;
    color: #f0f0e4 !important;
}

.navbar-custom {
    background-color: #124209;
}

.nav-link {
    font-size: 1rem;
    color: #f0f0e4 !important;
}

.list-group-item{
    background-color:#eee8d7;
}

.card {
    background-color:#eee8d7;
}