{% extends 'inventory/base.html' %}
{% load static %}
{% block title %}Django Delights{% endblock %}
{% block content %}
		<div id="wrapper" class="divided">

				<!-- Banner -->
					<section class="banner style1 orient-left content-align-left image-position-right fullscreen onload-image-fade-in onload-content-fade-right">
						<div class="content">
							<h1>Restaurant Inventory and Reports Tracker</h1>
							<p class="major">Django Delights a small restaurant which serves coffee, in addition to light refreshments such as baked goods or snacks.</p>
							<p>This application will help keep track of how much food the restaurant Django Delight has throughout the day.</p>

						</div>
						<div class="image">
							<img src="static\media\coffee_shop.jpg" alt="" />
						</div>
					</section>
		</div>

{% endblock %}
