{% extends 'inventory/base.html' %}
{% load static %}
{% block title %}Django Delights{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
    <h2>Menu</h2>
    <a class='btn btn-success' href="{% url 'menu_item_create' %} ">Add New Item to Menu</a><br>
    <br>
    <a class='btn btn-success' href="{% url 'recipe_requirement_create' %}">Add an Ingredient to Existing Menu Item</a>
    <hr/>
    <div class="row row-cols-1 row-cols-md-2 g-4 justify-content-center">
    {% for menu_item in object_list %}
    <div class="card" style="width: 18rem;">
      <div class="card-body border-0">
        <h5 class="card-title"><a class='btn btn-light' href="{% url 'menu_item_update' menu_item.id %}">{{ menu_item.title }}</a></h5>
        <p class="card-text">${{ menu_item.price|stringformat:".2f" }}<br>
            {% for recipe_requirement in menu_item.reciperequirement_set.all %}
                    <li>{{ recipe_requirement.quantity }} {{recipe_requirement.ingredient.unit }} {{ recipe_requirement.ingredient.name }}</li>
            {% endfor %}
        </p>
        <a class='btn btn-danger' href="{% url 'menu_item_delete' menu_item.id%} ">Delete Item in Menu</a>
        </div>
    </div>
    {% endfor %}
    </div>
{% endblock %}