{% extends 'inventory/base.html' %}
{% load static %}
{% block title %}Django Delights{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
    <h2>Menu</h2>
    <a href="{% url 'menu_item_create' %} ">Add New Item to Menu</a>
    <hr/>
    <table class="inventory-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
        {% for menu_item in object_list %}
            <tr>
                <td>
                    <a href="{% url 'menu_item_update' ingredient.id %}">{{ menu_item.title }}</a>
                </td>
                <td class="price">${{ menu_item.price|stringformat:".2f" }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}